<!-- BEGIN: Constant Contact Archive Homepage link -->
<DIV align="center">
<TABLE style="TEXT-ALIGN: center" align="center" cellpadding="1" border="0" cellspacing="0" bgcolor="#999999">
<TBODY>
<TR>
<TD>
<TABLE cellpadding="0" border="0" cellspacing="0">
<TBODY>
<TR>
<TD width="45" align="center" valign="middle" bgcolor="#990000"><A rel="nofollow" href="http://archive.constantcontact.com/fs005/1102365168510/archive/1102416905675.html"><IMG hspace="5" alt="" src="http://img.constantcontact.com/ui/images1/archive_icon_envelope2.gif" border="0"></A></TD>
<TD style="PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #333366; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px"><A style="FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 13pt; TEXT-DECORATION: none" href="http://archive.constantcontact.com/fs005/1102365168510/archive/1102416905675.html"><STRONG>View Our Newsletters</STRONG></A></TD>
</TR>
</TBODY>
</TABLE>
</TD>
</TR>
</TBODY>
</TABLE>
</DIV>
<DIV style="FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #999999; FONT-SIZE: 11px; PADDING-TOP: 5px" align="center"><A style="FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #999999; FONT-SIZE: 11px; TEXT-DECORATION: none" target="_blank" href="http://www.constantcontact.com/index.jsp?cc=WidgNatArchLink">Email Marketing</A> by<A style="FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #999999; FONT-SIZE: 11px; TEXT-DECORATION: none" target="_blank" rel="nofollow" href="http://www.constantcontact.com/index.jsp?cc=WidgNatArchLink"> <STRONG>Constant Contact</STRONG></A>&reg; </DIV>
<DIV style="FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #999999; FONT-SIZE: 11px; PADDING-TOP: 5px" align="center"></DIV>
<DIV style="FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #999999; FONT-SIZE: 11px; PADDING-TOP: 5px" align="center"><A target="_self" href="http://aerocoatnewsviews.blogspot.com/"><img title="" width="234" height="80" border="0" alt="" src="images/blog.png"></A>&nbsp;&nbsp;</DIV>
<P style="TEXT-ALIGN: center">&nbsp;</P>
<P style="TEXT-ALIGN: center"><BR>
<!-- END: Constant Contact Archive Homepage link -->
