{{> header}}

<!--======================== content ===========================-->
<section id="content" class="company">
  <div class="container_12">
    <div class="wrapper m1">
      <article class="grid_4 text-center lhs">
        <figure class="box-img m10 wide">
          <img src="images/istock/flag.jpg" alt="American Flag" />
        </figure>
        <br/><br/>
        <figure class="box-img m10 wide">
          <img src="images/istock/color-guide.jpg" alt="Color Guide Fan" />
        </figure>
        <br/><br/>
        <figure class="box-img m10 logo">
          <img src="images/akzo.png" alt="AkzoNoble" />
        </figure>
        <figure class="box-img m10 logo">
          <img src="images/deft.jpg" alt="Deft" />
        </figure>
        <br/><br/>
        <figure class="box-img m10 logo">
          <img src="images/hentzen.png" alt="Hentzen" />
        </figure>



      </article>

      <article class="grid_8">
        <div class="wrapper">
          <p class="p5">
            AeroCoat Source, LLC. is a woman-owned small business located just outside of Philadelphia, PA in Maple Shade, NJ.  Created in 1999, AeroCoat is a family-owned business whose mission is to specialize in quick, accurate shipping of Mil-Spec and Aerospace topcoat colors and coatings.  Our same-day shipping and no minimum order policies have helped our customers complete even the most time-critical jobs with ease.
          </p>

          <p>
            With nearly 30 years experience in the Aerospace Coatings industry, we intermix colors and stock the most popular primers and related coatings products to serve the time-critical applications of the military and commercial paint shops, maintenance depots, and supply agencies.
          </p>

          <p>
            <strong>DUNS:</strong> 36-370-4714
          </p>

          <p>
            <strong>Cage Code:</strong> 8ABX7
          </p>

          <p>
            <strong>NAICS CODES:</strong>
            <ul class="list-1 m3">
              <li>238320 - Paint Consultant</li>
              <li>325510 - Paint Manufacturer</li>
              <li>332812 - Metal Coating and Allied Services to the Military</li>
              <li>424950 - Paint Wholesaler</li>
            </ul>
          </p>

          <p>
            <strong>Federal Supply Class:</strong>
            8010 Paints and Related Products
          </p>
        </div>

        <div class="border-horiz a"></div>

        <article class="grid_8 alpha text-center">
          <figure class="box-img m10">
            <img src="images/warehouse.jpg" alt="Warehouse Interior" />
          </figure>
        </article>
      </article>
    </div>
  </div>
</section>


{{> footer}}
